extends ../layout

block content
  .page-header
    h1 How To Use Snowshoe!

  p We'll walk you through how to use our application on this page - you'll get to price track your first item and see how it all works! 

  div
    h3 My first snowshoe
    p $149.99
