extends ../layout

block content
  .page-header
    h1 My Scrapes

  if scrapes
    .list-group-item.list-group-tracks-header
      span Name
      span Status
      span Added
      span Target Price
    .list-group.list-group-tracks
      each scrape in scrapes
        span.list-group-item
          a(href=scrape.url)= shorten(scrape.name, 50)
          span= prettyTrackStatus(scrape)
          span= prettyDate.format(scrape.createdAt)
          span= scrape.alert.comparator