.list-group-tracks-header {
  border: none;
  font-weight: 600;
}

.table-track-items > thead > tr, .table-track-items > tbody > tr {
  display: flex;

  > th, td {
    width: 17.5%;
  }

  > th:nth-child(1), td:nth-child(1) {
    width: 50%;
  }
}

.table-track-items {
  border-top: 1px solid #DDD;
}

.table-track-items thead {
  border-bottom: 1px solid #DDD;
}

#trackedItems a {
  text-decoration: underline;
}

.table-hover > tbody > tr.meets-condition {
  color: #FFF;
  background-color: #18BC9C;

  td:nth-child(3) a {
    color: #FFF;
  }
}