extends ../layout

block content
  .page-header
    h1 About Snowshoe!

  h3 The Project
  p This project is intended to provide shoppers on the web to know when deals are happening, without having to be afraid of misssing something or constantly having to check back. When we looked around the web, we saw that there were lots of applications that could track prices, but they were often specifically limited to work on specific websites. Our mission is to provide an alternative that can work on any site you might want to track prices on.
  br
  | Essentially, we want three things. Firstly, for you to be able to track a price easily. Secondly, for you to be able to check in on your shopping list easily. And lastly, to alert you promptly (through email) when something drops below a price you specify for us. As this project evolves, we hope to be able to expand the scope of what the application can do, but those are the core principles of Snowshoe. 

  h3 Team Members
  div(class="team-members")
    p 
    a(href="https://github.com/grantbradshaw") Grant Bradshaw 
    | is a developer based out of Vancouver. He's interested in backend work, databases, and analytics. When he's not programming, he's probably somewhere with a book. 

  h3 Credit
  div(class="contact-information") 
    p This project was originally built at
      a(href='https://lighthouselabs.ca/')  Lighthouse Labs 
      |with
      a(href='https://github.com/jdmor')  Jonathan Morrissey 
      |for the final project as part of the January 2016 cohort. He is working and doing awesome stuff -------- which he will fill out himself.
    p In addition, this project was built in part using
      a(href='https://github.com/sahat/hackathon-starter')  Sahat's Hackathon package. 
      |It is provided under the following License.
    p(class='license') The MIT License (MIT) 
      br
      br
      | Copyright (c) 2014-2016 Sahat Yalkabov 
      br
      br
      | Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
      br
      br
      | The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
      br
      br
      | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
