extends ../layout

block content
  .page-header
    h1 About Snowshoe!

  h3 Contact Us
  p(class="contact-information") If you want to contact us, please do so at fake-company-email@gmail.com. Any feedback or problems with the app, suggestions and/or funny cat gifs are very welcome and will be given due consideration!